* {
  all: unset;
  font-family: JetBrains Mono;
  font-size: 40px;
  color: rgb(38, 37, 37);
}

window {
  background-color: rgba(0, 0, 0, 0.851);
}

button {
  background-color: white;
  padding: 30px;
  border-radius: 20px;
}