window {
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 20px;
    padding: 40px;
    font-size: 16px;
}

button {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30%;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 16px;
    margin: 10px;
    border: none;
    color: bisque;
}

button:hover {
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
}

#lock {
    background-image: url("/usr/share/wlogout/assets/lock.svg");
}
#logout {
    background-image: url("/usr/share/wlogout/assets/logout.svg");
}
#shutdown {
    background-image: url("/usr/share/wlogout/assets/shutdown.svg");
}
#reboot {
    background-image: url("/usr/share/wlogout/assets/reboot.svg");
}
